.hero-content {
    margin-top: 40%;
}

.myName {
    color: #f39c12;
}

.contact-btn {
    background-color: #f39c12;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    margin-left: 4px;

}

.hero {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    padding: 10px 20px;
    margin: 100px;

}